.unique-dashboard * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unique-dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #d3d3d3;
    color: #333;
}

.unique-dashboard .dashboard-container {
    padding: 40px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.unique-dashboard .dashboard-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}

.unique-dashboard .dashboard-description {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 30px;
}

.unique-dashboard .dashboard-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.unique-dashboard .card {
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 250px;
}

.unique-dashboard .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.unique-dashboard .card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #F55139;
}

.unique-dashboard .card-button {
    padding: 12px 20px;
    background-color: #F55139;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.unique-dashboard .card-button:hover {
    background-color: #e04e2e;
}

@media screen and (max-width: 768px) {
    .unique-dashboard .dashboard-cards {
        flex-direction: column;
        align-items: center;
    }

    .unique-dashboard .card {
        width: 80%;
    }

    .unique-dashboard .dashboard-description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .unique-dashboard .dashboard-container {
        padding: 20px;
    }

    .unique-dashboard .dashboard-container h1 {
        font-size: 2rem;
    }

    .unique-dashboard .card {
        width: 90%;
    }

    .unique-dashboard .card-button {
        font-size: 0.9rem;
    }
}
